.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px black;
}

.searchContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  width: 25%;
  border: 2px solid #4374e0; /* Primary Color */
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  color: #333333; /* Text Color */
}

.searchInput:focus {
  outline: none;
  border-color: #39c2c9; /* Secondary Color */
}

.searchInput.error {
  border-color: #d02d04; /* Accent Color */
}

.searchButton {
  border: none;
  background: none;
  margin-left: 10px;
  cursor: pointer;
}

.logoContainer {
  margin-left: 35vh;
  margin-top: 1vh;
  margin-bottom: 0;
  margin-right: 10vh;
  width: 150px;
  height: 75;
}

.buttonContainer {
  position: relative;
  right: 0;
  display: flex;
  flex-direction: row;
}

.buttons {
  align-items: flex-end;
  display: flex;
}

.authButton {
  align-items: flex-end;
  display: flex;
}

.navbarContainer {
  bottom: 0;
}

.dropdownButton {
  margin-top: 100%;
  width: 28;
  height: 19;
  border: none;
  background: transparent;
  cursor: pointer;
}

.navbar {
  margin: 30px;
  position: absolute;
  z-index: 1;
  right: 0;
}
