.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  border: 2px solid #635a5a;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px rgba(82, 77, 77, 0.5);
  width: 500px;
}

.span {
  margin: 10px 5px;
  padding: 5px;
  width: 100px;
}

.inputField {
  margin: 10px 5px;
  border: 2px solid #4374e0; /* Primary Color */
  padding: 5px;
  border-radius: 4px;
  padding: 8px;
  color: #333333; /* Text Color */
  min-width: 200px;
  max-width: 300px;
}

.inputField:focus {
  outline: none;
  border-color: #39c2c9; /* Secondary Color */
}

.signInButton {
  border: none;
  background: none;
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submitButton {
  margin: 10px;
  background-color: #4374e0; /* Primary Color */
  color: #ffffff; /* Text Color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #39c2c9; /* Secondary Color */
}

.signInButton:hover {
  color: #39c2c9;
  cursor: pointer;
}

.title a {
  color: #4374e0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.title a:hover {
  color: #39c2c9;
  text-decoration: underline;
}
.title a:focus,
.title a:active {
  color: #ff8c00;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
