.button {
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #333333; /* Text Color */
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4374e0; /* Primary Color */
  color: #ffffff; /* Text Color */
}
